{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

<h1>ABOUT:</h1>

<p>
    Created November 12, 2023. Version 1 submitted. 

Contact
    Creators: Jacob Cohen @Tapugy, Tomas Acuna @tomas-acuna, Aiko Ma @eye-co, Ryan Nip@Baolta


About
    Our goal project includes a schedule builder specifically for UMass Amherst students to accurately compare University classes to find optimal schedules with friends. Includes a login page, sign up page, news contacts and about tab, list of classes users are enrolled in, and list of users per class. Created using python, sqlite3, html, css. Made for HackUMass 2023.</p>

{% endblock %}